@charset "UTF-8";

/*
Cores
Roxo: #5E17EB
Amarelo: #FFCE0A
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #5E17EB;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../imagens/fundo1.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;

    height: 290px;
}

header > img.logo {
    border-radius: 100%;
    margin: 20px;
    border: 2px solid black;
}

header > nav > a {
    background-color: #FFCE0A;
    color: #5E17EB;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid #5E17EB;
}

header > nav > a:hover {
    background-color: #5E17EB;
    color: #FFCE0A;
    border: 2px solid #FFCE0A;
    cursor: pointer;
}



main > section.picole{
    background-image: url(../imagens/fundo2.png);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px 0px;
    
}

section.picole > div {
    margin: 10px 0px;
}

section.picole > div > img {
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 7px 7px 0px 0px;
}

section.picole > div > h2 {
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 0px 0px 7px 7px;
    width: 204px;
    text-align: center;
    background-color: white;
}

section.historia {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}

section.historia > div.sorveteria {
    flex: 0 1 auto;
    margin: auto;
    border: 2px solid #FFCE0A;
    height: 204px;
}

section.historia > div.texto > h1 {
    text-align: center;
    font-size: 2em;
}

section.historia > div.texto > p {
    font-size: 1.2em;
}

section.historia > div.texto {
    text-align: justify;
    padding: 10px;
    flex: 1 0 300px;
    color: #FFCE0A;
}

article {
    margin: auto;
}

article > div.telefone {
    background-color: rgb(19, 148, 19);
    border: 2px solid white;
    display: flex;
    padding: 10px;
    margin: auto;
    margin-bottom: 5px;
    width: 295px;
    border-radius: 5px;
}

article > div.telefone > img {
    width: 40px;
    padding-right: 5px;
}

article > div.telefone > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

article > div.instagram {
    background-image: linear-gradient(90deg, #f000dc, rgb(133, 0, 185));
    border: 2px solid white;
    display: flex;
    padding: 10px;
    margin: auto;
    width: 295px;
    border-radius: 5px;
    justify-content: center;
}

article > div.instagram > img {
    width: 40px;
    padding-right: 5px; 
}

article > div.instagram > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

footer{
    display: flex;
    flex-flow: column nowrap;
}

footer > h1 {
    color: #FFCE0A;
    text-align: center;
}

footer > p {
    color: #FFCE0A;
    text-align: center;
}

footer > iframe {
    margin: auto;
}

footer > div {
    display: flex;
    color: #FFCE0A;
    border: 2px solid #FFCE0A ;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
}