@charset "UTF-8";

/*
Cores
Roxo: #5E17EB
Amarelo: #FFCE0A
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-image: url(../imagens/fundo1.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;

    height: 290px;
}

header > img.logo {
    border-radius: 100%;
    margin: 20px;
    border: 2px solid black;
}

header > nav {
    
}

header > nav > a {
    background-color: #FFCE0A;
    color: #5E17EB;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid #5E17EB;
}

header > nav > a:hover {
    background-color: #5E17EB;
    color: #FFCE0A;
    border: 2px solid #FFCE0A;
    cursor: pointer;
}



main > section.picole{
    background-image: url(../imagens/fundo2.png);
    display: flex;
    border: 2px dotted black ;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px 0px;
    
}

div {
    
    margin: 10px 0px;
}

section.picole > div > img {
    border: 2px dotted rgb(0, 4, 255) ;
}

section.picole > div > h2 {
    border: 2px dotted rgb(255, 0, 0) ;
    width: 205px;
    text-align: center;
    background-color: white;
}

section.historia {
    display: flex;
    flex-flow: row wrap;
    background-color: #5E17EB;
    padding: 15px;
}

section.historia > div {
    
    
}

section.historia > div.sorveteria {
    flex: 0 1 auto;
    margin: auto;
    border: 2px solid #FFCE0A;
    height: 204px;
}

section.historia > div.texto > h1 {
    text-align: center;
    font-size: 2em;
}

section.historia > div.texto > p {
    font-size: 1.2em;
}

section.historia > div.texto {
    text-align: justify;
    padding: 10px;
    flex: 1 0 300px;
    color: #FFCE0A;
}

footer {
    border: 2px dotted rgb(0, 4, 255);
}

footer > div {
    background-color: rgb(19, 148, 19);
    display: flex;
    padding: 10px;
    margin: auto;
    width: 275px;
    border-radius: 5px;
}

footer > div > img {
    width: 40px;
    padding-right: 5px;

}

footer > div > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

